<div *ngIf="settings">

  <ion-button color="primary" (click)="clickedRefresh()">Refresh</ion-button>

  <div *ngIf="sunriseSettings">

    <ion-item>
      <ion-label>SensorID</ion-label>
      <ion-input type="number" ngDefaultControl [(ngModel)]="sunriseSettings.SunriseLightTime" text-right id="input">
      </ion-input>
    </ion-item>


    <ion-item>
      <ion-label>Is Activated</ion-label>
      <input [(ngModel)]="sunriseSettings.IsActivated" type="checkbox" />
    </ion-item>


    <ion-item>
      <ion-label>Monday</ion-label>
      <input [(ngModel)]="sunriseSettings.Monday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Monday.IsActive">
      <ion-item>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Monday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>


    <ion-item>
      <ion-label>Tuesday</ion-label>
      <input [(ngModel)]="sunriseSettings.Tuesday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Tuesday.IsActive">
      <ion-item>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Tuesday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>Wednesday</ion-label>
      <input [(ngModel)]="sunriseSettings.Wednesday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Wednesday.IsActive">
      <ion-item>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Wednesday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>Thursday</ion-label>
      <input [(ngModel)]="sunriseSettings.Thursday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Thursday.IsActive">
      <ion-item>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Thursday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>Friday</ion-label>
      <input [(ngModel)]="sunriseSettings.Friday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Friday.IsActive">
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Friday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>


    <ion-item>
      <ion-label>Saturday</ion-label>
      <input [(ngModel)]="sunriseSettings.Saturday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Saturday.IsActive">
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Saturday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>


    <ion-item>
      <ion-label>Sunday</ion-label>
      <input [(ngModel)]="sunriseSettings.Sunday.IsActive" type="checkbox" />
    </ion-item>
    <div *ngIf="sunriseSettings.Sunday.IsActive">
      <ion-item>
        <ion-label></ion-label>
        <ion-input type="text" slot="end" ngDefaultControl [(ngModel)]="sunriseSettings.Sunday.AlarmTime" text-right
          id="input">
        </ion-input>
      </ion-item>
    </div>
      <ion-button color="primary" (click)="clickedSave()">Save</ion-button>



  </div>