<ng-container *ngIf="ledStatus">
    <div>{{ledStatus.message}} </div>
    <table class="center">
        <tr>
            <td>
                <mat-slider class="brightness-slider" #brightness
                    (slideend)="sliderBrightnessOnChange(brightness.value)"
                    (pointerup)="sliderBrightnessOnChange(brightness.value)" thumbLabel [displayWith]="formatSlider"
                    aria-label="units" min="1" max="100" step="1" value="{{ledStatus.brightness}}" vertical="true">
                </mat-slider>
                <hr>
                <h2>{{ledStatus.brightness}}</h2>
            </td>
            <td>
                <mat-slider class="red-slider" #red (slideend)="sliderRedOnChange(red.value)"
                    (pointerup)="sliderRedOnChange(red.value)" thumbLabel [displayWith]="formatSlider"
                    aria-label="units" min="1" max="100" step="1" value="{{ledStatus.red}}" vertical="true">
                </mat-slider>
                <hr>
                <h2>{{ledStatus.red}}</h2>
            </td>
            <td>
                <mat-slider class="green-slider" #green (slideend)="sliderGreenOnChange(green.value)"
                    (pointerup)="sliderGreenOnChange(green.value)" thumbLabel [displayWith]="formatSlider" min="1"
                    max="100" step="1" value="{{ledStatus.green}}" vertical="true">
                </mat-slider>
                <hr>
                <h2>{{ledStatus.green}}</h2>
            </td>
            <td>
                <mat-slider class="blue-slider" #blue (slideend)="sliderBlueOnChange(brightness.value)"
                    (pointerup)="sliderBlueOnChange(brightness.value)" thumbLabel [displayWith]="formatSlider"
                    aria-label="units" min="1" max="100" step="1" value="{{ledStatus.blue}}" vertical="true">
                </mat-slider>
                <hr>
                <h2>{{ledStatus.blue}}</h2>
            </td>
        </tr>
    </table>
    <div>
        <button (click)="onOff()" mat-button color="warn">Off</button>
    </div>
    <hr>
</ng-container>

<div>
    <button (click)="onRefresh()" mat-button color="primary">Refresh</button>
    <hr>
</div>